{% extends "base.html" %}
{% block title %}Estrenos por género{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
        <div>
            <h1>Estrenos de Cartelera</h1>
            <h2>Lista de géneros disponibles</h2>
        </div>
        <div>
            <ul>{% for genero,lista_pelicula in generos.items() %}
                <li>
                    <a href="/genero/{{genero}}" class="liga">{{genero}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}