{% extends "base.html" %}
{% block title %}Lista de Usuarios{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
        <div>
            <h1>Estrenos de Cartelera</h1>
            <h2>Lista de usuarios registrados</h2>
            <h3>{{mensaje}}</h3>
        </div>
        <div>
            <ul>{% for usuario,diccionario in usuarios.items() %}
                <li>
                    <a href="/usuario/{{usuario}}" class="liga">{{diccionario['nombre']}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}